footer{
    position: relative;
    width: 100%;
    max-width: 9990px;
    margin: auto;
    height: auto;
    background-color: #000000;
    color: #fff;
}
.footergrid{
    display: flex;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    justify-content: space-between;
    padding: 50px;
}
.footerimglogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    padding: 0; 
    max-height: 300px;
}
.footerimglogo img{
    display: block;
    margin: auto;
    margin-top: -20px;
    width: 448px;
    height: 100%;
    max-height: 90%;
    object-fit: cover
}
.footerimglogo ul{
    list-style: none;
    display: flex;
    width: 100%;
    max-width: 200px;
    margin: auto;
    justify-content: center;
    margin-top: 40px;
}
.footerimglogo ul li img{
    max-width: 50px;
}
.footermenu{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: auto;
    gap: 40px;
}
.footernav{
    display: flex;
    width: 100%;
    white-space: nowrap;
}
.footernav ul, .address ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 175px;
}
.footernav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}
.footernav ul li a:hover {
    color: #95C6D6;
    transition: 0.2s ease-in-out;
}
.address{
    width: 100%;
    white-space: nowrap;
}
.address ul li {
    position: relative;
    display: flex;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 5px;
}
.address ul li:first-child{
    margin-bottom: 10px;
    font-size: 14px;
}
.footersocials{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: space-between;
}
.footersocials h2{
    font-size: 14px;
    font-weight: 600;
}
.footersocials ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 10px;
}
.footersocials ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footersocials ul li:last-child{
    margin-left: 5px;
}
.footersocials ul li a{
    display: flex;
    text-decoration: none;
    color: inherit;
    justify-content: center;
}
.footersocials ul li a img{
    margin: auto;
    align-items: center;
    margin-right: 8px;
}
.rights{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 120px;
    width: 100%;
    max-width: 9990px;
    margin: auto;
    padding: 50px 90px;
    background-color: #000;
    align-items: center;
    text-align: center;    
    border-top: 1px solid #fff;
}
.rights ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
.rights ul li a{
    color: #fff;
}
.rights p, .rights ul li{
    color: #fff;
    font-size: 14.4px;
    font-weight: 300;
    line-height: 150%;
}
.footerimglogo2{display:none;}
@media screen and (max-width: 870px) {
    .footergrid{
        flex-direction: column;
        padding: 20px;
    }
    .footerimglogo img{
        width: 250px;
        margin-top: 20px;
    }
    .footerimglogo ul{
        margin-top: 0px;
    }
    .footermenu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        text-align: left;
        margin-top: 36px;
        padding-bottom: 40px;
    }
    .footernav{
        margin: auto;
    }
    .address {
        margin-top: 36px;
    }
    .address ul li{
        display: block;
    }
    .footersocials ul{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: start;
        text-align: left;
        row-gap: 10px;
    }
    .footersocials ul li{
        display: flex;
        justify-content: left;
        align-items: left;
        text-align: left;
    }
    .footersocials ul li:last-child{
        margin-left: 1px;
    }
    .rights{
        flex-direction: column;
        padding: 40px 10px;
    }
    .rights p{
        font-size: 12px;
        margin-bottom: 10px;
    }
}